<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <!-- pgライブラリをこのhtmlファイル内で使用できるように -->
    <% require 'pg' %>
    <%# connection変数にgoyaデータベースとの接続情報を入れている %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <!-- result変数にゴーヤの大きさと売った相手の情報のデータを入れている %> -->
    <% result = connection.exec("select date, weight, give_for from crops;") %>
    <% date = [] %>
    <!--each文で一つずつdateと言う名前の配列に挿入している -->
    <% result.each do |record| %>
      <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <!-- ゴーヤ情報に飛ぶための別のformを作成し、送信ボタンとDBの値を入れ込みます。date.join(' ')という記述で配列型であるdateの中に入っている複数の情報を文字列型に変換し、その結果をvalueに挿入しています。 -->


    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
